div.image-container {
  height: 240px;
  width: 240px;
  padding: 5px 5px;
  margin-bottom: 5px;
  box-shadow: #333 1px 2px 3px;
}

div.image {
  height: 240px;
  width: 240px;
  overflow: hidden;
}

div.splash {
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 880px;
}

div.splash > div.image-container {
  width: 150px;
  height: 350px;
  float: left;
  display: inline-block;
  overflow: hidden;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

div.splash > div:nth-child(1) {
  margin-top: 51px;
}

div.splash > div:nth-child(2) {
  margin-top: 14px;
}

div.splash > div:nth-child(3) {
  margin-top: 10px;
}

div.splash > div:nth-child(4) {
  margin-top: 34px;
}

div.splash > div:nth-child(5) {
  margin-top: 21px;
}

div.person {
  width: 250px;
  margin-bottom: 25px;
  padding: 12px;
  display: block;
  float: left;
}

div.person:nth-child(3n+1) {
  clear: both;
}

div.person-text {
  padding: 5px;
}

div.event {
  min-height: 250px;
  width: 980px;
  margin: 35px 0px;
  padding: 0px 10px;
}

div.event:nth-child(even) > div.image-container {
  float: left;
}

div.event:nth-child(odd) > div.image-container {
  float: right;
}

div.event-header {
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: 400;
}

div.event-body {
  float: left;
  margin: 0px 25px;
  width: 680px;
}

div.comm-entry {
  margin: 15px;
}

div.comm-year {
  float: left;
  width: 100px;
}

div.comm-persons {
  float: left;
  width: 870px;
}

div.comm-position {
  float: left;
  width: 400px;
  font-weight: 400;
}

div.comm-name {
  float: left;
  width: 470px;
}
